
:root {
    --azulescuro: #004768;
    --branco: #ffffff;
}
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

body{
    margin: 0;
    background-color: #dcdcdc;
    font-family: 'Signika', sans-serif;
}
.painel{
    margin-top: 90px;
}
.card-medico, .card-medico-cadastro{
    margin: 20px 0;
    background-color: var(--branco);
    padding: 10px;
}
.card-medico-cadastro{
    padding: 0 !important;
}
h5{
    font-weight: bold;
    color: var(--azulescuro);
}
a {
    text-decoration: underline;
    font-size: 10px;
}
.card-medico button{
    margin: 5px;
    height: 20px;
    padding: 2px;
    font-size: 10px;
}